h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
  color: #be3144;
  margin: 0.5em auto;
}

p {
  color: #303841;
  text-align: center;
  margin-bottom: 3em;
}

.category-container {
  width: 80%;
  margin: 1.5em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.category-recipe-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  border: 1px solid #be3144;
}

.category-recipe-title,
.category-recipe-title:active,
.category-recipe-title:link,
.category-recipe-title:hover,
.category-recipe-title:visited {
  width: 100%;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #303841;
  text-align: center;
  padding: 0.5em;
}

h3:hover {
  font-weight: bold;
}

.category-recipe-img {
  width: 100%;
  margin: 1% auto 0;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .category-container {
    grid-template-columns: 1fr;
  }
  .category-recipe-container p {
    width: 70%;
  }
}
