@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&family=Pacifico&family=Roboto:wght@100;300;400;500;700&display=swap");

.footer {
  width: 100%;
  background-color: #9a0101;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0;
}

.footer p {
  color: #d3d6db;
  padding: 2% 0;
  font-size: 0.8em;
}

.footer h5 {
  font-family: "Pacifico", cursive;
  padding-top: 2%;
  color: #d3d6db;
}

.footer-input {
  border-radius: 15px;
  padding: 1em;
  color: gray;
  font-size: 0.6em;
  border: none;
  margin-bottom: 4%;
  margin-right: 8px;
}
.footer-text {
  position: absolute;
  text-align: center;
  margin-top: 50px;
}

.footer-button {
  background-color: #d3d6db;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4%;
}

.footer-button:hover {
  cursor: pointer;
  border-width: 5px;
  color: #fff;
  transition: all 1s;
}

.social-icons {
  font-size: 25px;
  margin-left: 600px;
}

.social-icon {
  color: #303841;
}

.latestNews {
  display: inline-block;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.latestNews {
  font-size: 25px;
  font-family: "Pacifico", cursive;
}
