.homepage {
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 1% 0 3%;
}

.main-title {
  margin: 1em auto 0.5em;
  padding: 0;
  font-size: 2em;
}

.main-subtitle {
  margin: 0 auto 2.5em;
  width: 70%;
  line-height: 1.7;
}

.homepage-browse-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

form {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.homepage-results-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin: 1em auto;
}

.homepage-searchbar {
  display: block;
  padding: 4%;
  width: 100%;
  border: #303841 1px solid;
  border-radius: 20px;
}

.homepage-button {
  font-size: 1em;
  display: block;
  padding: 0.5em 0.7em;
  background-color: #303841;
  color: #d3d6db;
  margin-left: 1%;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
}

.homepage-recipe-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #9a0101;
  width: 30%;
  margin: 1% auto;
}

.homepage-recipe-title,
.homepage-recipe-title:active,
.homepage-recipe-title:link,
.homepage-recipe-title:hover,
.homepage-recipe-title:visited {
  width: 100%;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #303841;
  text-align: center;
  padding: 0.5em;
}

.homepage-recipe-title:hover {
  font-weight: bold;
}

.homepage-recipe-img {
  width: 100%;
  margin: 1% auto 0;
  cursor: pointer;
  display: block;
  height: auto;
}

.homepage-recipe-cont {
  position: relative;
  width: 100%;
}

.homepage-recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-recipe-cont:hover .homepage-recipe-overlay {
  opacity: 1;
}

.homepage-cat-con {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2% auto 3%;
  border: #303841 1px dotted;
  border-radius: 10px;
  padding: 1% 2% 1.5%;
}

.homepage-cat-title,
.homepage-cat-title:active,
.homepage-cat-title:link,
.homepage-cat-title:hover {
  text-decoration: none;
  font-size: 1.8em;
  cursor: pointer;
  font-family: "Pacifico", cursive;
  color: #9a0101;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.homepage-overlay {
  position: relative;
  width: 100%;
}

.homepage-cat-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.8em;
}

.homepage-cat-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-overlay:hover .homepage-cat-overlay {
  opacity: 1;
}

.homepage-recipe-overlay-text {
  font-size: 1em;
  color: #f1f1f1;
  font-weight: lighter;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.homepage-overlay-text {
  font-size: 1.3em;
  color: #f1f1f1;
  font-weight: lighter;
  width: 80%;
  text-align: center;
}

.homepage-pizzas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.homepage-icon {
  display: inline-block;
  margin-right: 1%;
  font-size: 1em;
}

.homepage-cat-image {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.rotate {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  height: 2em;
  color: #9a0101;
}

@media (max-width: 1000px) {
  .homepage-cat-con {
    width: 80%;
  }
  .homepage-recipe-container {
    width: 70%;
  }

  .homepage-browse-container {
    width: 90%;
  }

  form {
    width: 75%;
  }

  .main-title {
    width: 70% !important;
  }

  .main-subtitle {
    width: 90%;
  }
}
