.homepage {
  width: 70%;
  margin: 0 auto;
}

.main-subtitle {
  margin-bottom: 1em;
}

.homepage-cat-con {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto 1.5em;
  border: #be3144 1px dotted;
  padding: 1% 2%;
}

.homepage-cat-title,
.homepage-cat-title:active,
.homepage-cat-title:link,
.homepage-cat-title:hover {
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  font-family: "Pacifico", cursive;
  color: #be3144;
  text-align: center;
  margin-top: 0;
}

.homepage-pizzas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.homepage-icon {
  display: inline-block;
  margin-right: 1%;
  font-size: 1em;
}

.homepage-cat-image {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.rotate {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  height: 2em;
  color: #be3144;
  margin-bottom: 1.5em;
}
