.recipe-macro-container {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 2% 0;
}

.recipe {
  border: 1px solid #9a0101;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2%;
}

.recipe-title {
  text-align: center;
  color: #303841;
  font-family: "Pacifico", cursive;
  margin: 2% auto;
  font-size: 3em;
}

.recipe-image {
  display: block;
  margin: 0 auto 2em;
  width: 50%;
  border-radius: 2%;
}

.recipe-text {
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
  color: #303841;
}

.recipe-image {
  display: block;
  margin: 0 auto 2em;
  border-radius: 2%;
}

.recipe-vegetarian {
  display: inline-block;
  font-weight: 200;
  color: #9a0101;
  margin-left: 2%;
}

h4 {
  text-align: center;
  color: #303841;
  font-family: "Pacifico", cursive;
  margin: 2% auto;
}

.recipe-social {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .recipe {
    width: 80%;
  }

  .recipe-image {
    width: 80% !important;
    padding-top: 3%;
  }

  .recipe > h4 {
    margin-top: 2em;
  }

  .recipe-title {
    font-size: 2.5em;
  }
}
